
/*form quotes css */

#lengthperItems{
    display:none;
}
#actionWebsite{
	display:none;
}
#needMoving{
	display:none;
}

#moreDetailscontent{
	display:none;
}
#what_dangerous{
	display:none;
}
#collectionEarliest{
	display:none;
}

#DeliveryEarliest{
	display:none;
}
.jls-address-preview--hidden,
	.jls-address-lookup--hidden,
	.jls-manual-address--hidden {
		display: none;
	}

	.jls-manual-address {
		border: 0;
		padding: 0;
		margin: 0;
	}
h1 { text-align: center; }

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}

.dropzone i{
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0,0,0,.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
	height: 100%;
}

html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	width: 100%;
}
a {
	color: #d91b5b;
	text-decoration: none;
	font-weight: 600;
	padding-bottom: 3px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
a:hover {
	border-bottom: 1px solid;
}

.navbar-brand > img{
	max-width:240px; 
}

/* Form styles */
#msform {
	width: 100%;
	margin: 50px auto;
	
	position: relative;
}
#msform fieldset {
	background: #fff;
	border: 0 none;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0% 20px;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

/* Hide all except first fieldset */
#msform fieldset:not(:first-of-type) {
	display: none;
}
img.logo {
	max-width: 155px;
	margin-top: 5px;
}
#msform p {
	color: #8b9ab0;
	font-size: 12px;
}

#msform label {
	padding-right:0px 15px;
	font-size: 16px;
	text-align: left;
	
/*
	font-weight:600px !important;
*/
}


/* Inputs */
#msform input, #msform textarea {
	padding: 5px 15px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 5px;
	background-color: #eef5ff;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #333;
	font-size: 14px;
	font-family: inherit;
}
#msform input:focus, #msform textarea:focus {
	outline: none;
	border-color: #7bbdf3;
}

/* Buttons */

#msform .submitbutton {
	width: 30%;
	text-transform: uppercase;
	background: #d91b5b;
	font-weight: bold;
	color: white;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px 5px;
	margin: 10px 0;
	font-size: 16px;
	display: inline-block;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#msform .action-button {
	width: 30%;
	text-transform: uppercase;
	background: #d91b5b;
	font-weight: bold;
	color: white;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px 5px;
	margin: 10px 0;
	font-size: 16px;
	display: inline-block;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
#msform .previous.action-button {
	background: #fff;
	border: 1px solid #7bbdf3;
	color: #7bbdf3;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.2);
}

/* Headings */
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #c82b22 !important;
    border-color: #c82b22 !important;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #c82b22 !important;
    border-color: #c82b22 !important;
    box-shadow:none !important;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus{
    box-shadow:none !important;
}
.fs-title {
	font-size: 20px;
	font-weight: 400;
	color: #a94442;
	margin-bottom: 20px;
	background-color: #c82b22;
	margin-top: 20px;
	padding:10px;
	color:#fff;
}
.fs-subtitle {
	font-weight: 400;
	font-size: 19px;
	color: #434a54;
	margin-bottom: 20px;
}

/* Progressbar */
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #8b9ab0;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}
#progressbar li.active {
	color: #d91b5b;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3em;
	margin: 0 auto 5px auto;
	text-align: center;
}

/* Progressbar connectors */
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}
#progressbar li:first-child:after {
	/* connector not needed before the first step */
	content: none; 
}

/* Marking active/completed steps green */
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #d91b5b;
	color: white;
}

/* css for checkbox */

/* The container */
#msform .checkstyle {
  display: inline-flex;
  position: relative;
  width: auto;
  padding-left: 35px;
  padding-right: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#msform .checkstyle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#msform .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
#msform .checkstyle:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#msform .checkstyle input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
#msform .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#msform .checkstyle input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#msform .checkstyle .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.terms_text a:hover {
    text-decoration:none !important;
}

.listordercls {
	line-height: 25px !important;
	font-size:13px !important;
	list-style: none !important;
	padding-left:0px !important;
}

/* Header */
header {
	margin: 0;
	padding: 0;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 999;
	border-bottom: 1px solid #00000024;
}
header .navbar {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 0px;
}

/* Footer */

.footer-img2 {
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: auto;
	float: none;
}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/Spinner.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .5;
}

.error
{
color:red !important;
font-size: 15px !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.footer-img3 {
	float: right;
}
footer p {
	margin-bottom: 2px;
	color: #272727;
	font-size: 13px;
}
footer a {
	color: #272727;
	font-size: 13px;
}


@media (max-width:480px){

.navbar-brand > img{
	max-width:180px !important; 
}

#enroltextcls{
	font-size: 14px !important;
}

}
.checkbox_section{
    padding-top:15px;
}
label.form-check-label {
}

#moreDetailscontent label {
    display: block;
}

#moreDetailscontent h2 {
    font-size: 20px;
    padding: 10px 0;
}

a#addRow {
    background-color: #c82b22;
    border: none;
    border-radius: 0;
    margin-top:15px;
}
.unsure_weight_section {
    padding-left: 16px;
}
.about-us-area select {
    margin-top: 10px;
    height: 50px;
    font-size: 14px;
    border-radius: 0;
    width: 100% !important;
    border: 1px solid #ced4da;
    font-family: 'Poppins';
    font-weight:400;
    padding:10px;
}
input#take_photo {
    background: #c82b22;
    padding: 10px;
    color: #fff;
}

input.form-control {
   margin-top: 10px;
   height: 50px;
   font-size: 14px;
   border-radius: 0;
   width: 100% !important;
   border: 1px solid #ced4da;
   font-family: 'Poppins';
   font-weight:400;
}

input.form-control:focus{
   border:1px solid #c82b22;
}
.about-us-area select:focus {
    border-color: #c82b22;
    box-shadow: none !important;
}
.quantity_section {
    display: flex;
    align-items: center;
}
div#decrease {
    line-height: 20px;
    margin: 0;
    font-size: 22px !important;
    font-weight: 300;
}

div#increase {
     line-height: 20px;
    margin: 0;
    font-size: 22px !important;
    font-weight: 300;
}
div#main_form_id label {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #c82b22;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-family: 'Poppins';
}

div#height_per_pallet {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
.form-check-input:checked {
    background-color: #c82b22;
    border-color: #c82b22;
}
.form-check-input:focus {
    box-shadow: none !important;
}
#what_dangerous {
    margin-top: 14px;
}
div#actionWebsite {
    padding-top: 15px;
}
.three_persion label {
    display: block;
    text-transform: capitalize;
}

.three_persion .btn-group label {padding: 10px;width: 100% !important;display: block;}

label.btn.btn-outline-primary {
    width: 100px !important;
    
}

label.btn.btn-outline-primary {
    border-color: #c82b22;
    color: #c82b22;
}

label.btn.btn-outline-primary:hover {
    background: #c82b22;
    color: #fff;
}
div#collectionEarliest label {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #c82b22;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-family: 'Poppins';
}

div#collectionEarliest input {
    height: 50px;
    font-size: 14px;
    border-radius: 0;
    width: 100% !important;
    border: 1px solid #ced4da;
    font-family: 'Poppins';
    font-weight: 400;
}

div#collectionEarliest {
    margin-top: 10px;
}

#DeliveryEarliest label {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #c82b22;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-family: 'Poppins';
}

#DeliveryEarliest input {
    height: 50px;
    font-size: 14px;
    border-radius: 0;
    width: 100% !important;
    border: 1px solid #ced4da;
    font-family: 'Poppins';
    font-weight: 400;
}

div#DeliveryEarliest {
    margin-top: 10px;
}
.form_btn {
    background: #c82b22 !important;
    color: #fff !important;
    transition: 0.3s ease-in-out;
}

.form_btn:hover {
    background: #000 !important;
}
.remove-button {
    text-align: right;
}
